
/* ---------------------- common style ---------------------- */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--main-bg-color) !important;
    /* height: 200vh; */
    overflow-x:hidden ;
}
.auth-container{
    min-height: 100vh;
    
}
:root {
    --main-color: rgba(239, 155, 40, 1);
    --main-bg-color: rgba(245, 245, 245, 1);

}

.main-color{
    color: var(--main-color);
}

.main-bg-color{
    background-color: var(--main-bg-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* ---------------------- auth-layout ----------------------*/
.auth-container {
    background-image: url("./assets/images/bg3.png");
    background-position: center center;
    background-size: cover;

    .container-form label {
        font-size: 0.8rem;
    }

    .form-input {
        background-color: transparent;
        border: none;
        border-bottom: rgba(255, 255, 255, 1) 1px solid;
        border-radius: 0px;
    }

    .form-input::placeholder {
        color: #fff;
    }

    .form-input:focus {
        background-color: transparent;
    }

    .form-input {
        color: #fff !important;
        box-shadow: none !important;
    }

    .auth-item {
        background-color: rgba(49, 89, 81, 0.9);
    }

    .title .frist-ch::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 16px;
        height: 4px;
        background-color: #f39c12;
    }
}
/*-------------sidebar---------------*/
.sidebar{
    height:100vh;
}
.sidebar .css-dip3t8{
    background-color: #0E382F !important;
    color: #fff;
    

.toggle{
    color: var(--main-bg-color);
    position: absolute;
    top: 20px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 30px;

    }
    .css-1t8x7v1 >.ps-menu-button:hover{
        background-color: transparent !important;
        color: var(--main-bg-color);
    }
    
}

/* ---------------------- not-found ----------------------*/

.not-found-text{
    color: #f39c12;
}

.sidebar{
height: 100vmax;
}



.options{
    position: fixed;
    right: 50px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.75rem;
    width: 150px;
}
body:active  .options{
    display: none !important;
}
  